<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Wedding Planner! Dashboard</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/dashboard.css">
	</head>
    <body>
        @model DashboardViewModel
        <div class="header">
            <h1>Welcome To The Wedding Planner!</h1>
            <h4><a href="/dashboard">Dashboard </a> ||| <a href="/logout"> Logout</a></h4>
        </div>
        <div class="weddingTable">
        
        <h3><a href="/addWedding">Add Your Wedding!</a></h3>
                
            <table>
                <tr>
                    <th>Wedding</th>
                    <th>Date</th>
                    <th>Guest</th>
                    <th>Action</th>
                </tr>
                
                @foreach(Wedding wedding in Model.currentWeddings)
                {
                    <tr>
                        <td><a href="/wedding/@wedding.WeddingId">@wedding.PartnerOne & @wedding.PartnerTwo</a></td>
                        <td>@wedding.Date.ToString("MMM d, yyy")</td>
                        <td>@wedding.UserWeddings.Count</td>
                        <td>@{
                                if(wedding.Host == @Model.thisUser)
                                {
                                    <a href="/delete/@wedding.WeddingId">Cancel Wedding</a>
                                }
                                else if(wedding.UserWeddings.Any(wed => wed.UserId == @Model.thisUser.UserId))
                                {
                                    <a href="/removeRSVP/@wedding.WeddingId/@Model.thisUser.UserId">Send Regrets</a>
                                }
                                else
                                {
                                    <a href="/RSVP/@wedding.WeddingId/@Model.thisUser.UserId">RSVP</a>
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </body>
    </html>